/* html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
} */

/************************************************ HEADER SECTION *************************************************/

/* NAV-BAR SECTION */
.nav-right {
  display: flex;
  width: 52%;
}

.nav-text {
  color: #0c0c0c;
  font-family: Poppins;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.nav-text:hover {
  color: blue;
}

.navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}

.nav-left {
  width: 48%;
}


/* HEADING WEB SECTION */

.heading-web {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #144d8a;
}

.gallery-header{
  box-shadow: .1rem 1rem 1rem -1.2rem rgba(0,0,0,0.57);
}




/*********************************************** FOOTER SECTION ******************************************/
.footer {
  /* background: red; */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.21607rem;
  line-height: 1.8rem;
  color: #0c0c0c;
  border-top: 2px #EF9B38 solid;
  transform: translate(0px, 40vh);
  background-color: white;
  
}

.footer-list {
  list-style: none;
}

.footer-web-left {
  margin-left: 10rem;
}

.footer-web-middle {
  margin-left: 6rem;
}

.footer-footer-text-mobile {
  line-height: 0.5rem;
}

.footer-footer-text-web {
  line-height: 2rem;
}

.footer-load{
  
  padding: 2rem;
}



/* MEDIA QUERIES HEADER SECTION */

/* SMALL AND TAB SCREENS */
@media (min-width: 577px) {

  /* HEADER SECTION */

  .header-home-button:active{
    /* border-bottom: orange 0.5rem solid; */
    width: 6rem;
    display: flex;
    justify-content: center;
  }

  .header-signup-button {
    background: orange;
    border-radius: 0.5rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .header-signup-text {
    color: #ffffff;
  }

  .active{
    /* border-bottom: orange 0.5rem solid; */
    width: 6rem;
    display: flex;
    justify-content: center;
  }

  
  /* FOOTER SECTION */

  .footer-web-left {
    margin-left: 5rem;
    width: 6rem;
  }

  .footer-web-middle{
    width: 6rem;
  }
  .copyright {
    line-height: 2.2rem;
    margin-top: 5rem;
  }

  .footer-web-left,
  .footer-web-middle,
  .footer-web-right {
    margin-top: 1rem;
  }
}

/* LARGER TAB AND LARGE SCREENS */
@media (min-width: 967px) { 

  /* fOOTER SECTION */

  .copyright {
    line-height: 2rem;
  }
}

